.header {
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    padding: 20px;
  }
  
  .logo h1 {
    color: white;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  